In [2]:
import pandas as pd

In [28]:
from datetime import time

In [41]:
def add_date(date):
    def add_time(str):
        time = datetime.strptime(str, '%H:%M:%S').time()
        return datetime.combine(date, time)
    return add_time

In [42]:
f = add_date(date)

In [43]:
f('01:36:27')

datetime.datetime(2017, 6, 18, 1, 36, 27)

In [44]:
df = pd.read_csv('data/case2/alarms_20170618.csv', parse_dates=[1,2], date_parser=add_date(date))

In [45]:
df

     ELEMENT ID               START                 end  SEVERITY
0             1 2017-06-18 10:13:32 2017-06-18 18:27:15         4
1             1 2017-06-18 12:36:14 2017-06-18 17:20:55        10
2             1 2017-06-18 14:17:11 2017-06-18 17:52:46        10
3             1 2017-06-18 00:44:41 2017-06-18 17:04:05         2
4             1 2017-06-18 02:15:23 2017-06-18 06:33:30         3
5             1 2017-06-18 01:36:27 2017-06-18 07:00:14         6
6             1 2017-06-18 17:47:00 2017-06-18 18:20:41         3
7             1 2017-06-18 17:46:02 2017-06-18 18:37:32         3
8             1 2017-06-18 05:27:01 2017-06-18 15:35:43         8
9             1 2017-06-18 07:53:21 2017-06-18 10:28:34         2
10            1 2017-06-18 20:58:01 2017-06-18 21:45:46         9
11            1 2017-06-18 22:14:26 2017-06-18 22:56:24         3
12            1 2017-06-18 03:26:51 2017-06-18 06:07:48         3
13            1 2017-06-18 16:25:37 2017-06-18 17:19:36         4
14            1 2017-06-18 05:47:18 2017-06-18 08:02:56         2
15            1 2017-06-18 05:46:40 2017-06-18 22:36:20         1
16            1 2017-06-18 15:56:36 2017-06-18 23:33:53         5
17            1 2017-06-18 05:09:48 2017-06-18 14:54:30         5
18            1 2017-06-18 00:19:23 2017-06-18 18:05:04         8
19            1 2017-06-18 18:36:25 2017-06-18 19:32:09         5
20            2 2017-06-18 06:17:15 2017-06-18 17:40:37         4
21            4 2017-06-18 19:53:14 2017-06-18 21:48:34         4
22            5 2017-06-18 17:52:23 2017-06-18 22:52:05         3
23            6 2017-06-18 23:08:47 2017-06-18 23:58:21         7
24            6 2017-06-18 16:49:44 2017-06-18 23:39:36        10
25           10 2017-06-18 01:40:11 2017-06-18 04:34:48         5
26           10 2017-06-18 10:07:15 2017-06-18 16:13:57         5
27           10 2017-06-18 00:33:18 2017-06-18 11:04:40         4
28           10 2017-06-18 22:58:42 2017-06-18 23:24:52         9
29           10 2017-06-18 11:18:52 2017-06-18 15:38:32         9
..          ...                 ...                 ...       ...
131          81 2017-06-18 23:02:25 2017-06-18 23:50:16        10
132          82 2017-06-18 03:52:06 2017-06-18 07:48:34         9
133          87 2017-06-18 13:31:30 2017-06-18 22:26:48         1
134          87 2017-06-18 05:24:49 2017-06-18 09:33:30         4
135          87 2017-06-18 00:03:33 2017-06-18 08:29:46         9
136          87 2017-06-18 22:40:52 2017-06-18 23:24:26         2
137          87 2017-06-18 07:58:52 2017-06-18 09:18:12         8
138          87 2017-06-18 07:52:08 2017-06-18 23:26:22         9
139          87 2017-06-18 03:50:49 2017-06-18 06:32:59         9
140          87 2017-06-18 02:31:39 2017-06-18 06:30:11        10
141          87 2017-06-18 21:33:10 2017-06-18 22:36:27        10
142          87 2017-06-18 21:52:16 2017-06-18 22:04:03         2
143          87 2017-06-18 12:42:33 2017-06-18 13:20:57         6
144          87 2017-06-18 12:41:46 2017-06-18 22:30:01        10
145          87 2017-06-18 08:29:30 2017-06-18 19:35:22         6
146          87 2017-06-18 12:16:31 2017-06-18 18:21:57         9
147          87 2017-06-18 09:09:22 2017-06-18 09:12:25         8
148          87 2017-06-18 03:21:02 2017-06-18 23:56:42         7
149          87 2017-06-18 21:00:46 2017-06-18 23:36:16         2
150          87 2017-06-18 12:52:34 2017-06-18 14:12:50        10
151          87 2017-06-18 18:17:32 2017-06-18 20:58:44         6
152          87 2017-06-18 16:07:11 2017-06-18 21:59:40         4
153          87 2017-06-18 13:23:11 2017-06-18 16:18:36         9
154          87 2017-06-18 17:57:17 2017-06-18 23:31:58         1
155          87 2017-06-18 14:35:40 2017-06-18 19:38:13         6
156          87 2017-06-18 12:26:59 2017-06-18 14:40:39         2
157          91 2017-06-18 07:24:24 2017-06-18 10:06:41         8
158          92 2017-06-18 05:41:36 2017-06-18 21:39:11         3
159          93 2017-06-18 12:09:41 2017-06-18 17:13:42         4
160          98 2017-06-18 12:16:50 2017-06-18 16:17:44         9

[161 rows x 4 columns]

In [5]:
from datetime import datetime

In [6]:
filename = 'data/case2/alarms_20170618.csv'

In [7]:
from pathlib import Path

In [8]:
p = Path(filename)

In [9]:
p.name

'alarms_20170618.csv'

In [10]:
import re

In [18]:
date = datetime.strptime(p.name, 'alarms_%Y%m%d.csv')

In [19]:
date

datetime.datetime(2017, 6, 18, 0, 0)

In [20]:
??pd.read_csv

In [21]:
df.dtypes

ELEMENT ID     int64
START         object
end           object
SEVERITY       int64
dtype: object

In [27]:
type(df.iloc[0]['START'])

str

In [53]:
import alarms.parser as p

In [55]:
import importlib

In [66]:
importlib.reload(p)

In [67]:
df = p.read_dir('data/case2/')

In [68]:
df

      ELEMENT ID               START                 end  SEVERITY
0              1 2017-06-18 10:13:32 2017-06-18 18:27:15         4
1              1 2017-06-18 12:36:14 2017-06-18 17:20:55        10
2              1 2017-06-18 14:17:11 2017-06-18 17:52:46        10
3              1 2017-06-18 00:44:41 2017-06-18 17:04:05         2
4              1 2017-06-18 02:15:23 2017-06-18 06:33:30         3
5              1 2017-06-18 01:36:27 2017-06-18 07:00:14         6
6              1 2017-06-18 17:47:00 2017-06-18 18:20:41         3
7              1 2017-06-18 17:46:02 2017-06-18 18:37:32         3
8              1 2017-06-18 05:27:01 2017-06-18 15:35:43         8
9              1 2017-06-18 07:53:21 2017-06-18 10:28:34         2
10             1 2017-06-18 20:58:01 2017-06-18 21:45:46         9
11             1 2017-06-18 22:14:26 2017-06-18 22:56:24         3
12             1 2017-06-18 03:26:51 2017-06-18 06:07:48         3
13             1 2017-06-18 16:25:37 2017-06-18 17:19:36         4
14             1 2017-06-18 05:47:18 2017-06-18 08:02:56         2
15             1 2017-06-18 05:46:40 2017-06-18 22:36:20         1
16             1 2017-06-18 15:56:36 2017-06-18 23:33:53         5
17             1 2017-06-18 05:09:48 2017-06-18 14:54:30         5
18             1 2017-06-18 00:19:23 2017-06-18 18:05:04         8
19             1 2017-06-18 18:36:25 2017-06-18 19:32:09         5
20             2 2017-06-18 06:17:15 2017-06-18 17:40:37         4
21             4 2017-06-18 19:53:14 2017-06-18 21:48:34         4
22             5 2017-06-18 17:52:23 2017-06-18 22:52:05         3
23             6 2017-06-18 23:08:47 2017-06-18 23:58:21         7
24             6 2017-06-18 16:49:44 2017-06-18 23:39:36        10
25            10 2017-06-18 01:40:11 2017-06-18 04:34:48         5
26            10 2017-06-18 10:07:15 2017-06-18 16:13:57         5
27            10 2017-06-18 00:33:18 2017-06-18 11:04:40         4
28            10 2017-06-18 22:58:42 2017-06-18 23:24:52         9
29            10 2017-06-18 11:18:52 2017-06-18 15:38:32         9
...          ...                 ...                 ...       ...
3812          61 2017-07-18 10:41:23 2017-07-18 13:18:55        10
3813          61 2017-07-18 15:54:52 2017-07-18 23:11:24         2
3814          61 2017-07-18 23:02:30 2017-07-18 23:56:18         3
3815          62 2017-07-18 21:52:06 2017-07-18 23:04:26         2
3816          62 2017-07-18 23:26:05 2017-07-18 23:28:38         9
3817          63 2017-07-18 09:01:22 2017-07-18 20:42:58        10
3818          65 2017-07-18 14:33:51 2017-07-18 23:42:21         7
3819          66 2017-07-18 05:15:18 2017-07-18 17:24:23         3
3820          66 2017-07-18 01:05:35 2017-07-18 21:38:57         6
3821          66 2017-07-18 23:00:39 2017-07-18 23:15:50         8
3822          69 2017-07-18 03:13:23 2017-07-18 19:48:05         9
3823          69 2017-07-18 04:02:12 2017-07-18 10:37:35        10
3824          73 2017-07-18 02:11:02 2017-07-18 20:41:18         8
3825          73 2017-07-18 11:50:37 2017-07-18 17:22:43         9
3826          74 2017-07-18 22:16:42 2017-07-18 23:44:48         1
3827          74 2017-07-18 17:19:45 2017-07-18 22:36:42         5
3828          75 2017-07-18 11:03:29 2017-07-18 21:27:38         1
3829          75 2017-07-18 13:44:40 2017-07-18 21:09:46         6
3830          77 2017-07-18 04:12:31 2017-07-18 16:10:01         7
3831          81 2017-07-18 23:07:59 2017-07-18 23:54:21         6
3832          82 2017-07-18 12:48:22 2017-07-18 16:08:31         7
3833          86 2017-07-18 22:39:45 2017-07-18 23:52:59         2
3834          86 2017-07-18 02:52:22 2017-07-18 17:44:24        10
3835          92 2017-07-18 09:49:28 2017-07-18 17:05:56         1
3836          92 2017-07-18 15:29:27 2017-07-18 17:28:05         8
3837          92 2017-07-18 03:21:10 2017-07-18 17:13:30         3
3838          92 2017-07-18 00:47:02 2017-07-18 18:32:24         3
3839          92 2017-07-18 13:18:25 2017-07-18 21:44:08         7
3840          93 2017-07-18 20:43:30 2017-07-18 20:48:15        10
3841          93 2017-07-18 09:33:01 2017-07-18 21:25:55        10

[3842 rows x 4 columns]

In [50]:
??Path.glob

In [71]:
df[df['ELEMENT ID'] == 1]

      ELEMENT ID               START                 end  SEVERITY
0              1 2017-06-18 10:13:32 2017-06-18 18:27:15         4
1              1 2017-06-18 12:36:14 2017-06-18 17:20:55        10
2              1 2017-06-18 14:17:11 2017-06-18 17:52:46        10
3              1 2017-06-18 00:44:41 2017-06-18 17:04:05         2
4              1 2017-06-18 02:15:23 2017-06-18 06:33:30         3
5              1 2017-06-18 01:36:27 2017-06-18 07:00:14         6
6              1 2017-06-18 17:47:00 2017-06-18 18:20:41         3
7              1 2017-06-18 17:46:02 2017-06-18 18:37:32         3
8              1 2017-06-18 05:27:01 2017-06-18 15:35:43         8
9              1 2017-06-18 07:53:21 2017-06-18 10:28:34         2
10             1 2017-06-18 20:58:01 2017-06-18 21:45:46         9
11             1 2017-06-18 22:14:26 2017-06-18 22:56:24         3
12             1 2017-06-18 03:26:51 2017-06-18 06:07:48         3
13             1 2017-06-18 16:25:37 2017-06-18 17:19:36         4
14             1 2017-06-18 05:47:18 2017-06-18 08:02:56         2
15             1 2017-06-18 05:46:40 2017-06-18 22:36:20         1
16             1 2017-06-18 15:56:36 2017-06-18 23:33:53         5
17             1 2017-06-18 05:09:48 2017-06-18 14:54:30         5
18             1 2017-06-18 00:19:23 2017-06-18 18:05:04         8
19             1 2017-06-18 18:36:25 2017-06-18 19:32:09         5
163            1 2017-06-19 08:39:41 2017-06-19 08:53:18         8
250            1 2017-06-20 08:45:46 2017-06-20 17:03:22         6
366            1 2017-06-21 20:16:35 2017-06-21 23:25:12         2
367            1 2017-06-21 11:26:17 2017-06-21 19:09:32         2
859            1 2017-06-25 11:53:02 2017-06-25 21:20:58         9
1020           1 2017-06-26 01:45:56 2017-06-26 15:59:44         2
1141           1 2017-06-27 06:19:25 2017-06-27 11:49:05         9
1339           1 2017-06-28 18:58:46 2017-06-28 20:23:00         1
1340           1 2017-06-28 08:48:42 2017-06-28 18:39:39         3
1905           1 2017-07-03 03:15:09 2017-07-03 23:56:29         6
2034           1 2017-07-04 16:13:28 2017-07-04 16:37:34         8
2035           1 2017-07-04 01:32:41 2017-07-04 20:55:26         8
2823           1 2017-07-10 00:02:39 2017-07-10 07:55:07         3
2944           1 2017-07-11 18:46:26 2017-07-11 20:20:10         6
3127           1 2017-07-13 21:00:20 2017-07-13 21:14:29         5
3223           1 2017-07-14 20:01:03 2017-07-14 23:56:23         7
3224           1 2017-07-14 08:45:44 2017-07-14 11:37:36         7
3225           1 2017-07-14 17:30:24 2017-07-14 18:26:40         2
3226           1 2017-07-14 05:09:48 2017-07-14 16:52:27         9
3227           1 2017-07-14 02:04:01 2017-07-14 11:27:10         3
3228           1 2017-07-14 18:24:24 2017-07-14 23:41:42         8
3229           1 2017-07-14 17:52:23 2017-07-14 21:33:17         9
3230           1 2017-07-14 07:20:29 2017-07-14 16:29:14         4
3231           1 2017-07-14 18:03:53 2017-07-14 20:42:31         5
3232           1 2017-07-14 07:43:27 2017-07-14 13:14:51         5
3233           1 2017-07-14 06:13:54 2017-07-14 15:29:19         1
3234           1 2017-07-14 00:24:44 2017-07-14 06:17:33         5
3235           1 2017-07-14 08:14:20 2017-07-14 19:49:23         7
3236           1 2017-07-14 05:29:20 2017-07-14 23:22:37         3
3237           1 2017-07-14 21:24:26 2017-07-14 21:57:30         9
3238           1 2017-07-14 09:37:34 2017-07-14 10:51:00         3
3687           1 2017-07-18 17:50:35 2017-07-18 18:24:43         8

In [72]:
import alarms.query as q

In [73]:
importlib.reload(q)

In [76]:
df1 = q.get_alarms_for_element(df, 1)

In [77]:
q.get_alarms_in_interval(datetime.str)

      ELEMENT ID               START                 end  SEVERITY
0              1 2017-06-18 10:13:32 2017-06-18 18:27:15         4
1              1 2017-06-18 12:36:14 2017-06-18 17:20:55        10
2              1 2017-06-18 14:17:11 2017-06-18 17:52:46        10
3              1 2017-06-18 00:44:41 2017-06-18 17:04:05         2
4              1 2017-06-18 02:15:23 2017-06-18 06:33:30         3
5              1 2017-06-18 01:36:27 2017-06-18 07:00:14         6
6              1 2017-06-18 17:47:00 2017-06-18 18:20:41         3
7              1 2017-06-18 17:46:02 2017-06-18 18:37:32         3
8              1 2017-06-18 05:27:01 2017-06-18 15:35:43         8
9              1 2017-06-18 07:53:21 2017-06-18 10:28:34         2
10             1 2017-06-18 20:58:01 2017-06-18 21:45:46         9
11             1 2017-06-18 22:14:26 2017-06-18 22:56:24         3
12             1 2017-06-18 03:26:51 2017-06-18 06:07:48         3
13             1 2017-06-18 16:25:37 2017-06-18 17:19:36         4
14             1 2017-06-18 05:47:18 2017-06-18 08:02:56         2
15             1 2017-06-18 05:46:40 2017-06-18 22:36:20         1
16             1 2017-06-18 15:56:36 2017-06-18 23:33:53         5
17             1 2017-06-18 05:09:48 2017-06-18 14:54:30         5
18             1 2017-06-18 00:19:23 2017-06-18 18:05:04         8
19             1 2017-06-18 18:36:25 2017-06-18 19:32:09         5
163            1 2017-06-19 08:39:41 2017-06-19 08:53:18         8
250            1 2017-06-20 08:45:46 2017-06-20 17:03:22         6
366            1 2017-06-21 20:16:35 2017-06-21 23:25:12         2
367            1 2017-06-21 11:26:17 2017-06-21 19:09:32         2
859            1 2017-06-25 11:53:02 2017-06-25 21:20:58         9
1020           1 2017-06-26 01:45:56 2017-06-26 15:59:44         2
1141           1 2017-06-27 06:19:25 2017-06-27 11:49:05         9
1339           1 2017-06-28 18:58:46 2017-06-28 20:23:00         1
1340           1 2017-06-28 08:48:42 2017-06-28 18:39:39         3
1905           1 2017-07-03 03:15:09 2017-07-03 23:56:29         6
2034           1 2017-07-04 16:13:28 2017-07-04 16:37:34         8
2035           1 2017-07-04 01:32:41 2017-07-04 20:55:26         8
2823           1 2017-07-10 00:02:39 2017-07-10 07:55:07         3
2944           1 2017-07-11 18:46:26 2017-07-11 20:20:10         6
3127           1 2017-07-13 21:00:20 2017-07-13 21:14:29         5
3223           1 2017-07-14 20:01:03 2017-07-14 23:56:23         7
3224           1 2017-07-14 08:45:44 2017-07-14 11:37:36         7
3225           1 2017-07-14 17:30:24 2017-07-14 18:26:40         2
3226           1 2017-07-14 05:09:48 2017-07-14 16:52:27         9
3227           1 2017-07-14 02:04:01 2017-07-14 11:27:10         3
3228           1 2017-07-14 18:24:24 2017-07-14 23:41:42         8
3229           1 2017-07-14 17:52:23 2017-07-14 21:33:17         9
3230           1 2017-07-14 07:20:29 2017-07-14 16:29:14         4
3231           1 2017-07-14 18:03:53 2017-07-14 20:42:31         5
3232           1 2017-07-14 07:43:27 2017-07-14 13:14:51         5
3233           1 2017-07-14 06:13:54 2017-07-14 15:29:19         1
3234           1 2017-07-14 00:24:44 2017-07-14 06:17:33         5
3235           1 2017-07-14 08:14:20 2017-07-14 19:49:23         7
3236           1 2017-07-14 05:29:20 2017-07-14 23:22:37         3
3237           1 2017-07-14 21:24:26 2017-07-14 21:57:30         9
3238           1 2017-07-14 09:37:34 2017-07-14 10:51:00         3
3687           1 2017-07-18 17:50:35 2017-07-18 18:24:43         8